@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  color-scheme: dark;
  background-color: #000000;
}

* {
  cursor: none !important;
}

body {
  font-family: var(--font-roboto), sans-serif;
  background-color: #000000;
  color: var(--foreground);
  overflow: hidden;
  margin: 0;
}

/* Custom Scrollbar Bordeaux */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #6b001a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #990024;
}
